{
  "presets": [ "es2015", "stage-0" ],
  "plugins": [
    [
      "weexcomponent",
      {
        "style": false,
        "libraryName": "weex-flymeui",
        "libDir": "packages"
      }
    ]
  ]
}
